body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.24);
}

.github-survey-form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #0863eb;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    margin-top: 50px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label {
    margin-top: 15px;
    font-size: 16px;
}

select,
input,
textarea {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

input:hover{
    border: 1px solid #202224;
}

select:hover{
    border: 1px solid #202224;
}

textarea:hover{
    border: 1px solid #202224;
}

textarea {
    resize: vertical;
}

button {
    background-color: #28a745;
    color: #fff;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}
